In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('C:/Users/Abdelrahman Elsayed/Desktop/python course/ML/Movie_regression.csv',header=0)

In [3]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [5]:
df['Time_taken'].mean()

157.3914979757085

In [8]:
df['Time_taken'].fillna(value =df['Time_taken'].mean(),inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

In [11]:
df=pd.get_dummies(df,columns=['3D_available','Genre'],drop_first=True)

In [12]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [15]:
X=df.loc[:,df.columns!="Collection"]

In [16]:
Y=df["Collection"]

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [20]:
from sklearn import preprocessing
scaler1= preprocessing.StandardScaler().fit(x_train)
x_train_s=scaler1.transform(x_train)

In [21]:
scaler2=preprocessing.StandardScaler().fit(x_test)
x_test_s=scaler2.transform(x_test)

In [24]:
from sklearn.svm import SVR
svr=SVR(kernel='linear',C=1000)

In [25]:
svr.fit(x_train_s,y_train)

SVR(C=1000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [27]:
y_test_pred=svr.predict(x_test_s)
y_train_pred=svr.predict(x_train_s)

In [28]:
y_test_pred

array([55845.47909562, 43374.48194876, 48235.56838689, 20490.29842637,
       49816.29113948, 41537.90261013, 34251.84675484, 44603.56943908,
       31228.37883211, 47738.5258003 , 16963.02029211, 39074.6279122 ,
       38676.40551523, 11056.5763703 , 66786.2161711 , 62828.8283775 ,
       39671.0145376 , 67723.21199314, 57899.59253233, 43766.44463574,
       55126.07906584, 39779.62063915, 42443.14073677, 58696.91746139,
       43896.69909884, 15246.67489794, 42448.20006337, 30006.03887435,
       74834.81475896, 44338.84993472, 37968.90437664, 38631.26557417,
       38810.42451401, 42200.80373907, 52131.15842508, 37048.82696859,
       25842.42608833, 37311.65065011, 36495.90890429, 35451.52169947,
       48737.59128659, 47014.12793506, 45458.14287592, 28268.33435757,
       51447.00528835, 47524.16080932, 33448.8028594 , 41358.12661663,
       16112.4719691 , 52897.93499202, 41498.889243  , 40190.81578986,
       48044.42886423, 68245.601769  , 24957.54276523, 41870.37869767,
       43085.56642526, 35802.40345998, 24333.17944735, 39792.99635872,
       43187.89897979, 42064.86074799, 67079.45122952, 67018.72701619,
       29751.53449386, 64486.31016482, 36537.07947451, 39424.03623019,
       42739.83882812, 49004.51303691, 47091.38785161, 49137.6160474 ,
       58293.01695207, 60987.12076292, 50458.7057983 , 12732.11052948,
       73529.8400236 , 44804.34230402, 61121.44294965, 38948.43870411,
       52461.82340448, 42645.73506554, 33590.01299735, 81557.40786725,
       79347.67060479, 48902.73688023, 51774.92623199, 31287.37312076,
       49942.61556592, 37804.58142434, 35716.22725957, 34236.0242204 ,
       44986.49123744, 60375.59585165, 44076.20038685, 43317.0659081 ,
       -3650.72966799, 55303.76754511, 37169.83279836, 33205.97995636,
       49895.73262303, 48326.48761364])

In [29]:
from sklearn.metrics import mean_squared_error,r2_score

In [30]:
mean_squared_error(y_test,y_test_pred)

158468617.65837687

In [32]:
r2_score(y_train,y_train_pred)

0.7124450931551877